---
import { getCollection } from "astro:content";
import HomePosts from "../components/HomePosts.astro";
import { Content as About } from "../content/about.md";
import SiteLayout from "../layouts/SiteLayout.astro";

const posts = await getCollection("posts");
---

<SiteLayout includeTags>
  <About />
  <br />
  <h3 class="center">Most recent posts</h3>
  <HomePosts allPosts={posts} />
</SiteLayout>
