---
import { getCollection } from "astro:content";
import HomePosts from "../components/HomePosts.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
import { Content as About } from "./about.md";

const posts = await getCollection("posts");
---

<SiteLayout includeTags>
  <About />

  <br />

  <h3>Here's my most recent posts</h3>

  <HomePosts allPosts={posts} />
</SiteLayout>
