---
import settings from "../content/settings.json";
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()}
  <a href={settings.githubRepo} target="_blank" rel="noopener noreferrer">
    {settings.username}
  </a>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
    font-size: 0.8rem;
  }
</style>
